.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
    padding: 0 15px;
  }
}

.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  fill: #2f2f37;
}

.whole-bar {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.bar-box,
.contacts {
  display: none;
}

.logo {
  padding: 16px 0;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  display: block;
}

.logo-header {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .contacts {
    display: block;
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .bar-box {
    display: flex;
    gap: 40px;
  }

  .logo-header {
    margin-right: 120px;
  }

  .nav-container {
    display: flex;
    align-items: center;
  }

  .header-bar {
    padding: 24px 0;
    display: block;
    color: #2e2f42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    position: relative;
    color: #404bbf;
  }

  .line:after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-bar:hover {
    color: #404bbf;
  }

  .header-bar:hover {
    color: #404bbf;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .header-bar:focus {
    color: #404bbf;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: underline;
  }

  .contact-list {
    flex-direction: column;
    display: flex;
    gap: 12px;
  }
  .contacts {
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }

  .contacts:hover,
  .contacts:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
}

/* mobile menu */

@media screen and (min-width: 768px) {
  .mobile-modal {
    display: none;
  }
}

.mobile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 1;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mobile-modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding-top: 72px;
  padding-bottom: 40px;
  position: relative;
}

.btn-close-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(46, 47, 66, 0.1);
  background-color: rgb(231, 233, 252, 0.1);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link.first-mobile-link {
  color: #404bbf;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-contacts {
  font-style: normal;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-social-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.mobile-social {
  margin-top: 48px;
}

.mobile-social-link {
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mobile-social-icon {
  fill: #f4f4fd;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

/* hero section */

.order-page {
  margin: 0 auto;
  max-width: 320px;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-title {
  margin: 0 auto 72px;
  max-width: 216px;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.order-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order-page {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-people-office.jpg);
  }
  .order-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .order-page {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  .order-title {
    margin-bottom: 48px;
  }
}

/* advantages section */

.advantages {
  padding: 96px 0;
}

.advantages-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.advantages-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 87px 0 105px;
  }

  .advantages-box {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 8px;
  }

  .advantages-title {
    justify-content: flex-start;
    font-weight: 700;
  }
  .advantages-l {
    flex-basis: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }

  .svg-box.hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .advantages-box {
    flex-wrap: nowrap;
    gap: 24px;
    align-items: flex-start;
  }

  .advantages-l {
    flex-basis: calc((100% - 24px) / 3);
  }

  .advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

/* employee section */

.employees-page {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.employees-box {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.employees-card {
  padding: 32px 0;
}
.employees-heading {
  margin-bottom: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-size: 36px;
  color: #2e2f42;
}

.employees-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}

.employees-description {
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.employees-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.emp-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emp-soc-icons {
  fill: #f4f4fd;
}

.emp-soc-link:hover,
.emp-soc-link:focus {
  background: #404bbf;
}

.employees-social .employees-social-list {
  width: 40px;
  height: 40px;
}

.employees-icons {
  fill: #f4f4fd;
}

.employees-list {
  text-align: center;
  background-color: #ffffff;
  line-height: 1.5;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .employees-box {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .employees-heading {
    margin-bottom: 72px;
  }

  .employees-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .employees-box {
    flex-wrap: nowrap;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
  }
  .employees-heading {
    margin-bottom: 72px;
  }
}

/* products section */

.product {
  padding: 96px 0;
}

.product-box {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
}

.product-card-box {
  position: relative;
  overflow: hidden;
}

.products-page {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.product-card {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.product-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.product-list:hover .product-hover-card {
  transform: translateY(0%);
}

.product-hover-card {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background: #4d5ae5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-title {
  margin-bottom: 8px;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
}

.products-description {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .product-box {
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .product-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .product-box {
    row-gap: 48px;
  }
  .product-list {
    width: calc((100% - 48px) / 3);
  }
}

/* footer */

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.logo-footer-span {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.final-text {
  max-width: 288px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footer-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.footer-description {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 72px;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-soc-par {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social-box {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.footer-social-list {
  width: 40px;
  height: 40px;
}

.footer-link {
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.for-autotest {
  background-color: #2e2f42;
  padding: 100px 0;
}

.btn-contacts-send {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(77, 90, 229);
  margin: 0 auto;
}

.subscribe-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.subscribe-inner-box {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 16px;
}

.subscribe-button {
  border-radius: 4px;
  background: #4d5ae5;
  padding: 8px 24px;
  border: none;
  color: #ffffff;
  width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-btn-image {
  fill: #ffffff;
  margin-left: 16px;
}

.email-box {
  position: relative;
}

.email-area {
  width: 288px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255, 0.4);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  padding-left: 16px;
}

.email-area::placeholder {
  color: rgb(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 0 auto;
    padding-left: 92px;
  }

  .subscribe-inner-box {
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
  }

  .subscribe-main-box {
    align-items: flex-start;
  }

  .email-area {
    width: 264px;
  }

  .footer-description {
    align-items: flex-start;
  }

  .footer-social {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-left: 15px;
  }

  .footer-description {
    width: 264px;
    margin-bottom: 0;
    margin-right: 120px;
  }

  .footer-social {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

/* Modal */

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: #404bbf;
  border: none;
}

.close-modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .close-modal-svg,
.close-modal:focus .close-modal-svg {
  fill: #ffffff;
}

.mdl-input-area {
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-input-area:focus {
  border-color: #4d5ae5;
}

.mdl-input-text {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
}

.mdl-input-text:focus {
  border-color: #4d5ae5;
}

.mdl-input-icon-box {
  position: relative;
}
.mdl-contacts-title {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.mdl-contacts-section {
  width: 360px;
  margin-bottom: 8px;
}

.mdl-contacts-labels {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contacts-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.mdl-input-area:focus + .contacts-icon {
  fill: #4d5ae5;
}

.terms {
  display: flex;
  margin-bottom: 24px;
}

.true-checkbox:checked + label > span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.terms-notice {
  cursor: pointer;
  color: #8e8f99;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.fake-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #fcfcfc;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  width: 16px;
  height: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 288px;
    min-height: 623px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mdl-contacts-section {
    width: 256px;
  }

  .mdl-input-area {
    margin: 0 auto;
  }
}
